<div class="welcome-box">



          <!-- ↓↓↓ 大图滚动banner 代码块↓↓↓ -->
            <div class="row">
              <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
                <div class="overlay"></div>

                <!-- 默认三张图列表 -->
                <div class="banner">
                  <ul class="carousel-indicators ">
                    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#bs-carousel" data-slide-to="1"></li>
                    <li data-target="#bs-carousel" data-slide-to="2"></li>
                  </ul>
                </div>

                <!-- 文案部分 -->
                <div class="carousel-inner">
                  <div class="item slides active">
                    <div class="slide-1"></div>
                    <div class="hero row">
                      <hgroup>
                          <h1>返普归臻</h1>
                          <h3></h3>
                      </hgroup>
                      <!-- <button class="btn btn-hero btn-lg" role="button">测试跳转链接</button> -->
                    </div>
                  </div>
                  <div class="item slides">
                    <div class="slide-2"></div>
                    <div class="hero">
                      <hgroup>

                          <h1>润其天然</h1>
                          <h3></h3>
                      </hgroup>
                      <!-- <button class="btn btn-hero btn-lg" role="button">测试跳转链接</button> -->
                    </div>
                  </div>
                  <div class="item slides">
                    <div class="slide-3"></div>
                    <div class="hero">
                      <hgroup>
                          <h1>源自山中</h1>
                          <h3></h3>
                      </hgroup>
                      <!-- <button class="btn btn-hero btn-lg" role="button">测试跳转链接</button> -->
                    </div>
                  </div>

                </div>
              </div>
            </div>
          <!-- ↑↑↑ 大图滚动banner 代码块 ↑↑↑ -->


                          <!--===== 品牌故事 =====-->
                  <section class="story-box">
                    <div class="row">
                      <div class="col-md-10 col-md-offset-1">
                        <h1>拉祜山</h1> <!-- 品牌名称 -->
                        <div class="short-line"></div> <!-- 分隔线 -->
                        <div class="row">
                          <div class="col-md-3 col-md-offset-1">
                             <img src="https://ws2.sinaimg.cn/large/006tKfTcgy1fgi8wbg2qfj307w06yadl.jpg" <!-- 创办人头像 1 -->
                          </div>
                          <div class="col-md-7">
                            <h3>李砚晶</h3> <!-- 创办人姓名 -->
                            <p>遵循创造和可持续的发展原则，以生命最原始的状态，用智慧连通万物，为全球消费者提供更高品质的原生态食品以及健康生活享受，并致力于成为拉祜民族文化的传承者</p> <!-- 创办人介绍 -->
                          </div>
                        </div>
                        <hr />

                      </div>
                    </div>
                  </section>


                        <!--===== 推荐商品 =====-->
                          <section class="show-box">
                            <div class="row">
                              <div class="col-md-10 col-md-offset-1">
                                <h2>推荐商品</h2> <!-- 副标题 -->
                                <div class="short-line"></div> <!-- 分隔线 -->
                                <div class="row">
                                          <div class="col-md-3">
                                              <%= link_to 'https://stormy-spire-83428.herokuapp.com/products/2' do %>
                                                <div class="box"><img src="https://ws4.sinaimg.cn/large/006tKfTcgy1fgi0w58sobj307i07idip.jpg" alt="Thumbnail Image" class="img-raised img-circle" ></div>
                                                <div class="content">
                                                     <p>冬茸</p>
                                            </div>
                                              <% end %>
                                          </div>

                                          <div class=" col-md-3">
                                              <%= link_to 'https://stormy-spire-83428.herokuapp.com/products/3' do %>
                                                <div class="box"><img src="https://ws3.sinaimg.cn/large/006tNc79gy1fg4miwmrdnj3046049js7.jpg" alt="Thumbnail Image" class="img-raised img-circle"  ></div>
                                                <div class="content">
                                                     <p>竹荪</p>
                                            </div>
                                              <% end %>
                                          </div>


                                          <div class=" col-md-3">
                                              <%= link_to 'https://stormy-spire-83428.herokuapp.com/products/8' do %>
                                                <div class="box"><img src="https://ws2.sinaimg.cn/large/006tNbRwgy1fgg4yutgqmj30fc0fewkv.jpg" alt="Thumbnail Image" class="img-raised img-circle"  ></div>
                                                <div class="content">
                                                     <p>蜂蜜</p>
                                            </div>
                                              <% end %>
                                          </div>

                                          <div class=" col-md-3">
                                              <%= link_to 'https://stormy-spire-83428.herokuapp.com/products/10' do %>
                                                <div class="box"><img src="https://ws2.sinaimg.cn/large/006tNc79gy1fg4m2u7o4zj30f90fbdmp.jpg" alt="Thumbnail Image" class="img-raised img-circle" ></div>
                                                <div class="content">
                                                     <p>茨竹笋</p>
                                            </div>
                                              <% end %>
                                          </div>

                                    </div>
                                  </div>
                                </div>

                              </section>


                  <!--===== 服务优势 =====-->
                  <section class="service-box">
                    <div class="row">
                      <div class="col-md-10 col-md-offset-1">
                        <h2>商品特点</h2> <!-- 副标题 -->
                        <div class="short-line"></div> <!-- 分隔线 -->
                        <div class="row">
                          <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="box">
                              <%= image_tag("service_1.png") %> <!-- 图示 -->
                              <h3>品质保证</h3> <!-- 标题 -->
                              <p>依附于澜沧江（湄公河）西岸，素有“拉祜山乡，边陲宝地”之美誉，水资源丰富</p> <!-- 内文 -->
                            </div>
                          </div>
                          <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="box">
                              <%= image_tag("service_2.png") %>
                              <h3>生态食品</h3>
                              <p>原生态绿洲,森林覆盖率超过67%，是云南“动植物王国”的缩影，全国生物多样性最丰富的地区之一</p>
                            </div>
                          </div>
                          <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="box">
                              <%= image_tag("service_3.png") %>
                              <h3>安心食用</h3>
                              <p>多样的地貌特征和气候特征，是全球生物物种高富集区和世界级基因库，造就了放心食品</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>

                                  <!--===== 商品分类 =====-->
                   <section class="categories-box">
                     <div class="row">
                       <div class="col-md-4 category-content">
                         <%= link_to '#' , class: "category_1" do %> <!-- 分类连结 -->
                           <div class="category-box">
                             <img src="https://ws3.sinaimg.cn/large/006tKfTcgy1fgidhvc2dnj30jg0jggzy.jpg" class="img-rounded" alt="Cinque Terre" > <!-- 分类图片 -->
                           </div>
                           <div>
                             <h3>干货特产</h3> <!-- 分类标题 -->
                             <p></p> <!-- 分类介绍 -->
                           </div>
                         <% end %>
                       </div>

                       <div class="col-md-4 category-content">
                         <%= link_to '#' , class: "category_3" do %>
                           <div class="category-box">
                             <img src="https://ws2.sinaimg.cn/large/006tKfTcgy1fgi9j013xyj30ji0jjae0.jpg" class="img-rounded" alt="Cinque Terre" >
                           </div>
                           <div>
                             <h3>鲜货特产</h3>
                             <p></p>
                           </div>
                         <% end %>
                       </div>

                       <div class="col-md-4 category-content">
                         <%= link_to '#' , class: "category_2" do %>
                           <div class="category-box">
                             <img src="https://ws2.sinaimg.cn/large/006tKfTcgy1fgi9eyek4ej30df0dfq5q.jpg" class="img-rounded" alt="Cinque Terre" >
                           </div>
                           <div>
                             <h3>民族工艺品</h3>
                             <p></p>
                           </div>
                         <% end %>
                       </div>

                     </div>
                   </section>

      <!--===== 立即购买 =====-->
           <section class="push-box">
           <div class="box-inner">
               <div class="container">
                  <div class="row ">
                      <div class="col-md-8 col-md-offset-2 text-center">
                               <p class="row lead">

                                     <%= link_to '商品列表', products_path, class: 'btn btn-danger btn-lg', id:"lead-submit" %>
                               </p>
                        </div>
                    </div>
               </div>
            </div>
          </section>



  <!-- div class="landing-page " -->
      </div>
