
     <div class="landing-page ">
              <div class=" background">
                            <div class="box">
                                  <div class="container">
                                     <div class="row ">
                                         <div class="col-md-8 col-md-offset-2 text-center">
                                            <div class="box-inner">
                                              <h1 class="title">野阔</h1>
                                                  <p class="slogan">拉祜山</p>
                                                  <p class="lead">
                                                    <%= link_to '寻山珍', products_path, class: 'btn btn-danger btn-lg', id:"lead-submit" %>
                                                  </p>
                                           </div>
                                       </div>
                                  </div>
                               </div>
                          </div>


                          <br>
                          <br>
                          <div class="container ">
                          <div class="section text-center">
                            <h2 class="title">推荐</h2>
                            <br>
                            <br>
                            <br>


                              <div class="row">

                                <div class="col-md-4">
                                  <div class="team-player">
                                    <%= link_to 'https://stormy-spire-83428.herokuapp.com/products/2' do %><img src="https://ws2.sinaimg.cn/large/006tNc79gy1fg4lvbq4qwj30fn0figrn.jpg" alt="Thumbnail Image" class="img-raised img-circle" width="200" height="200"><% end %>
                                    <h4 class="title">冬茸
                                      <br/>
                                      <small class="text-muted"></small>
                                    </h4>
                                    <p class="description text-left"></p>
                                  </div>
                                </div>

                                <div class="col-md-4">
                                  <div class="team-player">
                                    <%= link_to 'https://stormy-spire-83428.herokuapp.com/products/3' do %><img src="https://ws3.sinaimg.cn/large/006tNc79gy1fg4miwmrdnj3046049js7.jpg" alt="Thumbnail Image" class="img-raised img-circle" width="200" height="200"><% end %>
                                    <h4 class="title">竹荪
                                      <br/>
                                      <small class="text-muted"></small>
                                    </h4>
                                    <p class="description text-left"></p>
                                  </div>
                                </div>

                                <div class="col-md-4">
                                  <div class="team-player">
                                    <%= link_to 'https://stormy-spire-83428.herokuapp.com/products/10' do %><img src="https://ws2.sinaimg.cn/large/006tNc79gy1fg4m2u7o4zj30f90fbdmp.jpg" alt="Thumbnail Image" class="img-raised img-circle" width="200" height="200"><% end %>
                                    <h4 class="title">茨竹笋
                                      <br/>
                                      <small class="text-muted"></small>
                                    </h4>
                                    <p class="description text-left"></p>
                                  </div>
                                </div>

                            </div>





                                 <br>
                                 <br>


                            <div class="row">

                                  <div class="col-md-4">
                                    <div class="team-player">
                                      <%= link_to 'https://stormy-spire-83428.herokuapp.com/products/8' do %><img src="https://ws2.sinaimg.cn/large/006tKfTcgy1fg4mmpddevj30fm0df0xt.jpg" alt="Thumbnail Image" class="img-raised img-circle" width="200" height="200"><% end %>
                                      <h4 class="title">蜂蜜
                                        <br/>
                                        <small class="text-muted"></small>
                                      </h4>
                                      <p class="description text-left"></p>
                                    </div>
                                  </div>

                                  <div class="col-md-4">
                                    <div class="team-player">
                                      <%= link_to 'https://stormy-spire-83428.herokuapp.com/products/9' do %><img src="https://ws2.sinaimg.cn/large/006tKfTcgy1fg4mojayf8j30is0c9n38.jpg" alt="Thumbnail Image" class="img-raised img-circle" width="200" height="200"><% end %>
                                      <h4 class="title">红糖
                                        <br/>
                                        <small class="text-muted"></small>
                                      </h4>
                                      <p class="description text-left"></p>
                                    </div>
                                  </div>

                                  <div class="col-md-4">
                                    <div class="team-player">
                                      <%= link_to 'https://stormy-spire-83428.herokuapp.com/products/7' do %><img src="https://ws2.sinaimg.cn/large/006tKfTcgy1fg4mpo7hy5j30ea0ef0wk.jpg" alt="Thumbnail Image" class="img-raised img-circle" width="200" height="200"><% end %>
                                      <h4 class="title">橄榄
                                        <br/>
                                        <small class="text-muted"></small>
                                      </h4>
                                      <p class="description text-left"></p>
                                    </div>
                                  </div>


                            </div>

                            </div>

                          </div>

                          <br><br><br>

                          <div class="box3">
                                      <div class="container">
                                                <div class="row">

                                                        <div class="text-center">
                                                          <div class="box-inner">
                                                                <h1 class="title">珍品背景</h1>

                                                        </div>

                                                        </div>
                                                </div>
                                      </div>
                          </div>




                        <br><br><br>

                         <div class="container content-section text-center">
                      <h2 class="title"></h2>
                      <br>
                      <br>
                                <div class="row">


                                    <div class="col-md-4">

                                          <h2 class="content-section-title">水源</h2>

                                          <img src="https://ws4.sinaimg.cn/large/006tNc79gy1fg4of3xzyyj30jj0c6h0p.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236">
                                          <p class="content-section-slogan">依附于澜沧江（湄公河）西岸，素有“拉祜 山乡，边陲宝地”之美誉，水资源丰富;该流域多样的地貌特征和气候特征，是全球生物物种高富集区和世界级基因库</p>

                                     </div>

                                    <div class="col-md-4">

                                          <h2 class="content-section-title">产地</h2>
                                          <img src="https://ws3.sinaimg.cn/large/006tNc79gy1fg4o89wdhnj30ax07rjyh.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236">
                                          <p class="content-section-slogan">原生态绿洲,森林覆盖率超过67%，是云南“动植物王国”的缩影，全国生物多样性最丰富的地区之一，北回归线上最大的绿洲</p>
                                      </div>

                                      <div class="col-md-4">

                                            <h2 class="content-section-title">文化</h2>

                                            <img src="https://ws4.sinaimg.cn/large/006tNc79gy1fg4obebx9vj30je0c5gz4.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236">
                                            <p class="content-section-slogan">拉祜族，中国古老民族之一，以勇敢的猎虎民族、葫芦的儿女而著称，
                                              云南独有的15种少数民族之一;生活于大自然山水之间，淳朴善良、勤劳而勇敢</p>

                                        </div>


                                </div>

                      </div>





                      <div class="box2">
                                  <div class="container">
                                            <div class="row">
                                                    <div class="col-md-8 col-md-offset-2 text-center">
                                                            <h1 class="title"></h1>
                                                            <h4 class="slogan"></h4>
                                                            <br/>
                                                            <p class="lead">
                                                              <%#= link_to '寻山珍', products_path, class: 'btn btn-danger btn-lg', id:"lead-submit" %>
                                                            </p>
                                                    </div>
                                            </div>
                                  </div>
                      </div>

        </div>

      </div>
