<!DOCTYPE html>
<html>
    <head>

      <!-- 要求画面吧不被缩放，在移动端形成自适应 -->
      <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1"> -->


        <title>山货</title>
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <link rel="shortcut icon" href="/images/favicon.ico">
    </head>

    <body>
          <%= render "common/flashes" %>

        <div class="container-fluid">
          <div class="row">
               <%= render "common/navbar" %>



               <%= yield %>
             </div>
        </div>
        <%= render "common/footer" %>

    </body>
</html>
